* {
	font-family: 'Lato',sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: #5ca45d;
	display: flex;
	align-items: center;
	height: 100vh;
}

.container {
	width: 100%;
	max-width: 1200px;
	margin: auto;
}
.helper {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background: rgba(0,0,0,.2);
	padding: 20px 40px;
	@media (min-width: 1500px) {
		text-align: center;
	}
	p {
		display: inline-block;
		color: #fff;
		@media (max-width: 700px) {
			display: inline;
		}
	}
	span {
		display: inline-block;
		margin-left: 200px;
		color: #fff;
		&:hover {
			cursor: pointer;
		}
		@media (max-width: 900px) {
			margin-left: 30px;
		}
	}
}	

.congrats {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.6);
	display: none;
	.modal {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		width: 300px;
		height: 300px;
		padding: 30px;
		background: #fff;
		text-align: center;
		// @media (max-width: 400px) {
		// 	width: 100%;
		// }
		a {
			display: block;
			width: 50%;
			padding: 10px 20px;
			background: #08c008;
			border-radius: 5px;
			text-decoration: none;
			color: #fff;
			margin: 20px auto;
		}
		.fa {
			color: #08c008;
			font-size: 60px;
			transform: rotate(-30deg);
			margin-bottom: 30px;
		}
		.close_congrats {
			position: absolute;
			top: 10px;
			right: 10px;
			color: lightgray;
			cursor: pointer;
		}
		p {
			font-size: 11px;
			color: lightgray;
		}
	}
}

.popup {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.6);
	display: none;
	form {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		width: 300px;
		min-height: 100px;
		padding: 30px;
		background: #fff;
		// @media (max-width: 400px) {
		// 	width: 100%;
		// }
		h3 {
			font-size: 14px;
			text-align: center;
		}
		p {
			font-size: 10px;
			color: gray;
			text-align: center;
			margin: 10px 0;
		}
		label {
			display: block;
			color: gray;
			font-size: 10px;
			margin-bottom: 5px;
			margin-top: 10px;
		}
		input {
			width: 100%;
			padding: 5px;
			border: 1px solid lightgray;
			transition: all .3s;
			&:focus {
				outline: none;
				border-color: #08c008;
			}
		}
		button {
			display: block;
			width: 50%;
			margin: 0 auto;
			margin-top: 20px;
			background: #08c008;
			color: #fff;
			padding: 10px;
			border: none;
			border-radius: 5px;
			cursor: pointer;
			&:focus {
				outline: none;
			}
			i {
				font-size: 9px;
			}
		}
	}
	.close {
		position: absolute;
		top: 10px;
		right: 10px;
		color: lightgray;
		cursor: pointer;
	}
}

.wrapper {
	display: flex;
	padding: 40px;
	@media (min-width: 1200px) and (max-width: 1500px) {
		padding: 0px;
	}
	@media (max-width: 850px) {
		flex-direction: column;
		justify-content: center;
	}
	@media (max-width: 450px) {
		padding: 0px;
	}
	.left {
		p {
			font-size: 40px;
			color: #fff;
			letter-spacing: 3px;
			font-weight: 600;
			&:nth-of-type(2) {
				margin-top: 10px;
				font-size: 20px;
				font-weight: 400;
			}
			.yellow {
				color: yellow;
			}
		}
		@media (max-width: 850px) {
			margin-top: 80px;
		}
		@media (max-width: 450px) {
			padding: 15px;
		}
	}
	.right {
		background: #fff;
		width: 300px;
		padding: 20px;
		margin-left: 40px;
		box-shadow: 0 5px 20px rgba(0,0,0,.3);
		// @media (max-width: 400px) {
		// 	width: 100%;
		// }
		@media (max-width: 850px) {
			margin: 50px auto;
		}
		form {
			p {
				&.gray {
					color: gray;
					margin-top: 10px;
					font-size: 12px;
				}
			}
			select {
				width: 100%;
				margin-top: 10px;
				padding: 5px 10px;
				background:url(https://www.icon2s.com/wp-content/uploads/2014/07/expand-arrow22.png) no-repeat right;
			    -webkit-appearance: none;
			    background-size: 10px;
			    background-position-x: 235px;
			}
		}
		.controls {
			display: flex;
			justify-content: space-between;
			margin-top: 10px;
			& > div {
				display: flex;
				width: 45%;
				height: 25px;
				& > div, & > input {
					width: 33.3%;
					text-align: center;
					color: #fff;
					background: #fff;
					border: 1px solid lightgray;
					border-left: none;
					border-right: none;
				}
				& > input {
					color: #000;
				}
			}
			.plus_btn {
				background: gray;
				border-top-right-radius: 5px;
				border-bottom-right-radius: 5px;
				cursor: pointer;
			}
			.minus_btn {
				background: gray;
				border-top-left-radius: 5px;
				border-bottom-left-radius: 5px;
				cursor: pointer;
			}
			.popup_btn {
				display: flex;
				font-size: 10px;
				& > div {
					width: 50%;
					background: #08c008;
					border-top-right-radius: 5px;
					border-bottom-right-radius: 5px;
					a {
						display: block;
						height: 100%;
						padding: 5px;
						color: #fff;
						text-decoration: none;
					}
				}
				#price {
					background: gray;
					padding: 5px;
					border-top-left-radius: 5px;
					border-bottom-left-radius: 5px;
					border-top-right-radius: 0px;
					border-bottom-right-radius: 0px; 
				}
			}
		}
	}
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
	-webkit-appearance: none; 
	margin: 0; 
}
input[type=number] { 
	-moz-appearance: textfield;
	appearance: textfield;
	margin: 0; 
}

::-moz-selection {
    background: transparent;
}

::selection {
    background: transparent;
}

.countries {
	display: flex;
	ul {
		list-style: none;
		display: none;
		position: absolute;
		top: 100%;
		left: 10%;
	}
	li {
		width: 25px;
		height: 20px;
		background-size: cover;
		&.ua {
			background-image: url(http://icons.iconarchive.com/icons/custom-icon-design/flat-europe-flag/512/Ukraine-icon.png);
		}
		&.bel {
			background-image: url(https://cdn3.iconfinder.com/data/icons/world-flags-5/512/87-Belgium_Belgian_BEL_Dutch_Europe_european_country_flag_-512.png);
		}
		&.usa {
			background-image: url(https://cdn3.iconfinder.com/data/icons/world-flags-5/512/26-United_States_of_America_USA_american_americans_united_states_state_US_country_flag_-512.png);
		}
	}
}
.selected_country {
	display: flex;
	align-items: center;
	width: 20%;
	position: relative;
	padding: 5px;
	border: 1px solid lightgray;
	border-right: none;
	p {
		width: 25px;
		height: 20px;
		background-size: cover;
		margin: 0 5px 0 0 !important;

		&.ua {
			background-image: url(http://icons.iconarchive.com/icons/custom-icon-design/flat-europe-flag/512/Ukraine-icon.png);
			text-align: initial !important;
		}
		&.bel {
			background-image: url(https://cdn3.iconfinder.com/data/icons/world-flags-5/512/87-Belgium_Belgian_BEL_Dutch_Europe_european_country_flag_-512.png);
		}
		&.usa {
			background-image: url(https://cdn3.iconfinder.com/data/icons/world-flags-5/512/26-United_States_of_America_USA_american_americans_united_states_state_US_country_flag_-512.png);
		}
	}
	i {
		font-size: 10px;
		color: gray;
		cursor: pointer;
	}
}
#phone {
	width: 80%;
}

#form_userdata {
	.phone_label {
		text-align: initial;
	}
}


#form_userdata {
	.name_wrap, .email_wrap {
		position: relative;
			input {
				padding-left: 30px;
			}
			i.fa {
				position: absolute;
				top: 50%;
				left: 5px;
				font-size: 17px;
			}
			.fa-user {
				color: gray;
			}
			.fa-envelope {
				color: #08c008;
			}
	}
}
